
.weather-box {
    position: relative;
    width: 500px;
    height: 600px;
    margin: 15% auto auto auto;
    border: 1px solid mediumpurple;
    border-radius: 20px;
}
.weather-icon {
    position: absolute;
    font-size: 10em;
    margin-top: 50px;
    margin-left: 50px;
    color: purple;
}
.temp {
    position: absolute;
    top: 90px;
    right: 50px;
    color: purple;
    font: bold 6em "Libre Baskerville", sans-serif;
}
.info {
    position: absolute;
    text-align: center;
    width: 500px;
    top: 50%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: purple;
}
#get-weather {
    position: absolute;
    left: 200px;
    top: 400px;
}
