body {
    background-image: url("https://i.imgur.com/WJFzrOG.png");
}

.weather-box {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 5% auto auto auto;
    border: 1px solid white;
    border-radius: 20px;
}
.weather-icon {
    position: absolute;
    font-size: 10em;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
}
.temp {
    position: absolute;
    top: 90px;
    left: 250px;
    color: white;
    font: bold 1em "Libre Baskerville", sans-serif;
    height: 200px;
    width: 250px;
}
.info {
    position: absolute;
    text-align: center;
    width: 500px;
    top: 60%;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    color: white;
}
#weather-button {
    position: absolute;
    left: 200px;
    top: 80%;
}

